.mat-card-header {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-right: 8px;
}

.mat-card-header h1 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.searchbar {
  max-width: 250px;
  width: 100%;
}

.card-content {
  height: 100%;
  overflow: hidden;
}

.table-container {
  height: 100%;
  overflow: auto;
  padding-right: 8px;
}

.users-table {
  width: 100%;
  table-layout: fixed;
}

.mat-table {
  width: 100%;
  background: transparent;
  box-shadow: none;
}

.mat-paginator {
  background: transparent;
}

.avatar-container {
  display: flex;
}

.avatar-container img {
  border-radius: 50%;
  margin: auto 0;
}

.detail-row {
  border-bottom-width: 0;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.element-row td {
  border-bottom-width: 0;
}

.mat-table {
  width: 100%;
}

.mat-cell {
  overflow: hidden;
}

.table-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat-cell, .mat-header-cell {
  white-space: nowrap;
}

.mat-column-profilePhotoUrl {
  white-space: unset;
}

.mat-column-firstName {
  white-space: unset;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.mat-column-lastName {
  white-space: unset;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.mat-column-email {
  width: 30%;
  flex: 30%;
  white-space: unset;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.mat-column-expand {
  width: 15%;
  flex: 15%;
  word-wrap: break-word;
  white-space: unset;
}

.expand-button-container {
  text-align: right;
}

.expanded-details {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.expanded-details-responsive {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.expanded-details-content-desktop {
  min-height: 48px;
  padding: 12px 0 6px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.categories-desktop {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 24px;
}

.category-desktop {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 6px;
}

.category-value {
  opacity: 0.5;
}


.categories-wrapper-mobile {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.description-actions-content {
  margin: 0 auto;
  padding: 6px 0;
}

.description-actions-wrapper {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.description-actions-content button {
  padding: 0 12px;
}

.mat-paginator {
  padding-bottom: 16px;
}

@media only screen and (max-width: 768px) {
  .mat-column-email {
    width: 50%;
    flex: 50%;
  }

  .expanded-details-responsive {
    display: flex;
  }

  .expanded-details-content-mobile {
    min-height: 48px;
    padding: 0 0 6px 0;
    display: flex;
    margin: 0 auto;
    gap: 6px;
  }

  .description-categories-content-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .categories-wrapper-mobile {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .category-names-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
  }

  .category-values-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 4px;
  }

  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 4px;
  }

  .expanded-details-content-desktop {
    display: none;
  }

  .first-name-column {
    display: none;
  }

  .last-name-column {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .firstName-category {
    display: none;
  }

  .lastName-category {
    display: none;
  }

  .expanded-details-content-mobile {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .searchbar {
    max-width: none;
  }

  .expanded-details-content-mobile {
    margin: 0;
  }

  .category-names-mobile {
    align-items: flex-start;
  }

  .mat-column-email {
    width: 60%;
    flex: 60%;
  }
}

div.table-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
  border-radius: 10px;
}

div.table-container::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

div.table-container::-webkit-scrollbar-corner {
  background-color: transparent;
}

div.table-container::-webkit-scrollbar-thumb {
  background: rgba(63, 81, 181, 0.75);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

div.table-container::-webkit-scrollbar-thumb:hover {
  background: rgba(63, 81, 181, 1);
}

div.expanded-details-responsive::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
  border-radius: 10px;
}

div.expanded-details-responsive::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

div.expanded-details-responsive::-webkit-scrollbar-corner {
  background-color: transparent;
}

div.expanded-details-responsive::-webkit-scrollbar-thumb {
  background: rgba(63, 81, 181, 0.75);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

div.expanded-details-responsive::-webkit-scrollbar-thumb:hover {
  background: rgba(63, 81, 181, 1);
}
