<div class="container">
  <div class="blur-container">
    <div class="page-content">
      <div class="empty-container"></div>
      <main class="main-container" role="main">
        <div class="reset-password-container">
          <mat-card role="form">
            <mat-card-header>
              <mat-card-title><h1>Reset Password</h1></mat-card-title>
              <p class="hint-message">Enter a new password for your account</p>
            </mat-card-header>
            <mat-card-content>
              <form
                [formGroup]="resetPasswordForm"
                (ngSubmit)="onResetPassword()"
                class="form-container"
                aria-label="Reset Password Form">
                <mat-form-field appearance="fill">
                  <mat-label>New password</mat-label>
                  <input
                    [type]="hidePassword ? 'password' : 'text'"
                    aria-label="New password"
                    aria-required="true"
                    matInput
                    [formControl]="newPasswordFormControl" />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{
                      hidePassword ? 'visibility_off' : 'visibility'
                    }}</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="newPasswordFormControl.hasError('required')">
                    New password is required
                  </mat-error>
                  <mat-error
                    *ngIf="
                      newPasswordFormControl.hasError('passwordInvalid') &&
                      !newPasswordFormControl.hasError('required')
                    ">
                    <span
                      class="password-requirements-error"
                      matTooltip="Password must be at least 8 characters, and include an uppercase letter, a lowercase letter, a number, and a special character."
                      matTooltipPosition="right">
                      See password requirements
                      <mat-icon aria-label="More information" tabindex="0"
                        >info</mat-icon
                      >
                    </span>
                  </mat-error>
                </mat-form-field>
                <mat-form-field
                  appearance="fill"
                  class="confirm-password-form-field">
                  <mat-label>Confirm password</mat-label>
                  <input
                    [type]="hideConfirmPassword ? 'password' : 'text'"
                    aria-label="Confirm password"
                    aria-required="true"
                    matInput
                    [formControl]="confirmPasswordFormControl" />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="hideConfirmPassword = !hideConfirmPassword"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideConfirmPassword">
                    <mat-icon>{{
                      hideConfirmPassword ? 'visibility_off' : 'visibility'
                    }}</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="confirmPasswordFormControl.hasError('required')">
                    Password confirmation is required
                  </mat-error>
                  <mat-error
                    *ngIf="
                      confirmPasswordFormControl.hasError(
                        'passwordsDoNotMatch'
                      ) && !confirmPasswordFormControl.hasError('required')
                    ">
                    Passwords do not match
                  </mat-error>
                </mat-form-field>
                <button
                  mat-flat-button
                  color="primary"
                  type="submit"
                  aria-label="Reset password"
                  class="submit-button">
                  Reset Password
                </button>
                <p class="login-link">
                  Remembered your password? <a routerLink="/login">Sign In</a>
                </p>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </main>
      <footer class="footer">
        <div class="copyright">&copy; 2023 Global Directory</div>
      </footer>
    </div>
  </div>
</div>
