<div class="container">
  <div class="blur-container">
    <div class="page-content">
      <div class="empty-container"></div>
      <main class="main-container" role="main">
        <div class="search-colleagues-container">
          <mat-card role="table">
            <mat-card-header>
              <mat-card-title>
                <h1>View Colleagues</h1>
              </mat-card-title>
              <mat-form-field class="searchbar">
                <input (keyup)="applyFilter($event)" [formControl]="searchKeywordFilter" matInput
                       placeholder="Search by name, department, team or job">
              </mat-form-field>
            </mat-card-header>
            <mat-card-content>
              <div class="card-content">
                <div class="table-container">
                  <table (matSortChange)="announceSortChange($event)" [dataSource]="data" mat-table
                         matSort>
                    <ng-container matColumnDef="profilePhotoUrl">
                      <th *matHeaderCellDef mat-header-cell>Profile Photo</th>
                      <td *matCellDef="let user" mat-cell>
                        <div class="avatar-container">
                          <img [src]="user.profileImage ? user.profileImage.imageEncoded : profilePhotoPlaceholder"
                               alt="Profile Photo" height="30"
                               width="30">
                        </div>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="firstName">
                      <th *matHeaderCellDef mat-header-cell mat-sort-header>First Name</th>
                      <td *matCellDef="let user" mat-cell>{{ user.firstName ? user.firstName : "N/A" }}</td>
                    </ng-container>
                    <ng-container matColumnDef="lastName">
                      <th *matHeaderCellDef mat-header-cell mat-sort-header>Last Name</th>
                      <td *matCellDef="let user" mat-cell>{{ user.lastName ? user.lastName : "N/A" }}</td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                      <th *matHeaderCellDef mat-header-cell mat-sort-header>Email</th>
                      <td *matCellDef="let user" mat-cell>{{ user.email ? user.email : "N/A" }}</td>
                    </ng-container>
                    <ng-container matColumnDef="department">
                      <th *matHeaderCellDef mat-header-cell mat-sort-header>Department</th>
                      <td *matCellDef="let user" mat-cell>{{ user.department ? user.department : "N/A" }}</td>
                    </ng-container>
                    <ng-container matColumnDef="team">
                      <th *matHeaderCellDef mat-header-cell mat-sort-header>Team</th>
                      <td *matCellDef="let user" mat-cell>{{ user.team ? user.team : "N/A" }}</td>
                    </ng-container>
                    <ng-container matColumnDef="jobTitle">
                      <th *matHeaderCellDef mat-header-cell mat-sort-header>Job Title</th>
                      <td *matCellDef="let user" mat-cell>{{ user.jobTitle ? user.jobTitle : "N/A" }}</td>
                    </ng-container>
                    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                  </table>
                </div>
              </div>
            </mat-card-content>
            <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizes" showFirstLastButtons></mat-paginator>
          </mat-card>
        </div>
      </main>
      <footer class="footer">
        <div class="copyright">&copy; 2023 Global Directory</div>
      </footer>
    </div>
  </div>
</div>
