<div class="profile-card">
    <img class="profile-picture" [src]="colleague.profilePicture" alt="Profile Picture">
    <div class="profile-info">
      <h2>{{ colleague.name }}</h2>
      <p><strong>Firstname:</strong> {{ colleague.firstName }}</p>
      <p><strong>Lastname:</strong> {{ colleague.lastName }}</p>
      <p><strong>Department:</strong> {{ colleague.department }}</p>
      <p><strong>Skills:</strong> {{ colleague.skills }}</p>
      <p><strong>Team:</strong> {{ colleague.team }}</p>
      <p><strong>Email:</strong> {{ colleague.email }}</p>
    </div>
  </div>