.profile-card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 450px;
    display: flex;
    align-items: center;
   
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 40px;
    
}

.profile-info {
    flex-grow: 1;
}

.profile-info h2 {
    margin: 0;
}

.profile-info p {
    margin: 5px 0;
}