<div class="container">
  <div class="blur-container">
    <div class="page-content">
      <div class="empty-container"></div>
      <main class="main-container" role="main">
        <div class="about-container">
          <mat-card class="example-card" *ngIf="currentUser">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image">
                <img [src]="currentUser.profileImage ? currentUser.profileImage.imageEncoded : profilePhotoPlaceholder" alt="Profile Photo">
              </div>
              <mat-card-title>{{ currentUser.firstName }} {{ currentUser.lastName }}</mat-card-title>
              <mat-card-subtitle>{{ currentUser.department }}</mat-card-subtitle>
              <mat-card-subtitle>{{ currentUser.team }}</mat-card-subtitle>
              <mat-card-subtitle>{{ currentUser.jobTitle }}</mat-card-subtitle>
              <mat-card-subtitle>{{ currentUser.email }}</mat-card-subtitle>
              <!-- <mat-card-subtitle>
                {{ currentUser.description }}
              </mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
              <!-- ... -->
            </mat-card-content>
            <mat-card-actions>
              <button (click)="onNavigateToLinkedIn()" aria-label="LinkedIn" mat-button matTooltip="LinkedIn" matTooltipPosition="below">
                <span class="linkedin-button-text">LinkedIn</span>
              </button>
              <button mat-button>Git</button>
              <button mat-button>Mail</button>
              <button mat-button>Phone</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </main>
      <footer class="footer">
        <div class="copyright">
          &copy; 2023 Global Directory
        </div>
      </footer>
    </div>
  </div>
</div>
