mat-toolbar {
  height: 64px;
}

.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.9) -17.76%,
    rgba(62, 81, 181, 0.4) 82.24%
  ),
  url('/assets/newsfeed.jpg'), center, no-repeat;
  background-size: cover;
}

.blur-container {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(12px);
  display: flex;
}

.page-content {
  position: relative;
  width: 100%;
  height: calc(100vh - 64px);
  overflow: auto;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-container {
  display: flex;
  padding: 50px 25px;
}

.newsfeed-container {
  width: 100%;
}

.footer {
  background: rgba(0, 0, 136, 0.6);
  padding: 10px 0;
  text-align: center;
}

.copyright {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  text-transform: uppercase;
}

mat-card {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(100px);
  margin: auto;
  max-height: 900px;
  max-width: 600px;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 10px;
}

section {
  display: table;
  margin: auto;
}

.mat-card-actions {
  margin: auto;
}

.mat-card-avatar {
  width: 80px;
  height: 80px;
}

.mat-card-title {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mat-card-subtitle {
  padding-left: 16px;
}


.example-card {
  max-width: 400px;
margin: auto;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(100px);
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  display: flex;
  flex-direction: column;
  border-radius: 10px;}

  
.example-card .card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.example-card .post-image-container {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.example-card .post-image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.example-header-image {
  background-image: url('https://as1.ftcdn.net/v2/jpg/03/64/88/42/1000_F_364884228_JIux2brVPuxvpm7wmgShdUMWkOAQCsXM.jpg');
  background-size: cover;
}


.mat-icon-button {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.like-icon {
  color: #3e51b5;
  padding-right: 8px;
}

.comment-icon {
  color: #3e51b5;
  padding-right: 8px;
}


.about-button-text {
  font-size: 20px;
}

.mat-card-image {
  border-radius: 15px;
  width: 400px;
  margin: auto;
  margin-top: 9px;
  margin-bottom: 25px;
}

p {
  text-align: center;
}

.new-post-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.new-post-textarea {
  flex: 1;
  min-height: 100px;
  padding: 8px;
  margin-bottom: 8px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.new-post-button {
  align-self: flex-end;
}

.create-post-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.create-post-button {
  margin-bottom: 20px;
}

.post-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-modal .mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.post-modal .buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}


.post-modal .buttons-container button {
  margin-left: 10px;
}

.whats-new-container {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.post-modal-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.photo-container {
  margin: 0 auto 20px auto;
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.image-container {
  width: 100%;
  height: 100px;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
