<div class="container">
  <div class="blur-container">
    <div class="page-content">
      <main [ngClass]="!isLoading && posts.length > 0 ? '' : 'max-height'" class="main-container"
            role="main">
        <div class="newsfeed-container">
          <div class="upper-content">
            <div class="new-post-button-container">
              <button (click)="openNewPostForm()" color="primary" mat-raised-button>New Post
              </button>
            </div>
            <div [ngClass]="formState === 'open' ? 'modal-open' : 'modal-closed'">
              <div [@detailOpen]="formState" class="full-width-container new-post-container">
                <mat-card>
                  <mat-card-content>
                    <form
                      (ngSubmit)="sharePost()"
                      [formGroup]="newPostForm"
                      aria-label="New Post Form"
                      class="form-container">
                      <ng-container>
                        <input #fileInput (change)="onFileUpload($event)"
                               accept="image/*" aria-label="Post image file input" hidden type="file">
                        <div *ngIf="postImage" class="image-container">
                          <img [draggable]="false" [src]="postImage" alt="Post Image">
                          <button (click)="clearImage()" mat-icon-button matTooltip="Clear Image"
                                  matTooltipPosition="below">
                            <mat-icon>close</mat-icon>
                          </button>
                          <div (click)="fileInput.click()" class="overlay">
                            <mat-icon>add_to_photos</mat-icon>
                            Upload New Image
                          </div>
                        </div>
                        <button (click)="fileInput.click()" *ngIf="!postImage" color="primary" mat-raised-button
                                type="button">
                          <mat-icon>add_to_photos</mat-icon>
                          Upload Image
                        </button>
                      </ng-container>
                      <mat-form-field appearance="fill">
                        <mat-label>What's on your mind?</mat-label>
                        <textarea
                          [errorStateMatcher]="matcher"
                          [formControl]="textFormControl"
                          aria-label="Post Description"
                          aria-required="true"
                          cdkAutosizeMaxRows="5"
                          cdkAutosizeMinRows="1"
                          cdkTextareaAutosize
                          class="description-textarea"
                          matInput
                          matTextareaAutosize
                        ></textarea>
                        <mat-error
                          *ngIf="textFormControl.hasError('required')">
                          This field is required
                        </mat-error>
                      </mat-form-field>
                      <div class="post-modal-buttons">
                        <button (click)="closeNewPostForm()" color="warn" mat-flat-button type="button">Cancel</button>
                        <button
                          aria-label="Share Post"
                          class="submit-button"
                          color="primary"
                          mat-flat-button
                          type="submit">
                          Share
                        </button>
                      </div>
                    </form>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <div class="full-width-container">
              <mat-button-toggle-group (change)="onFilterChange($event.value)" aria-label="Posts type" name="postsType">
                <mat-button-toggle value="">All</mat-button-toggle>
                <mat-button-toggle value="personal">Personal</mat-button-toggle>
                <mat-button-toggle value="manual">Manual</mat-button-toggle>
                <mat-button-toggle value="joining">Joining</mat-button-toggle>
                <mat-button-toggle value="promotion">Promotion</mat-button-toggle>
                <mat-button-toggle value="anniversary">Anniversary</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
          <div *ngIf="!isLoading && posts.length > 0" class="posts-container">
            <ng-container *ngFor="let post of posts">
              <app-post-card (postDeleted)="getPosts()" [authUser]="authUser" [isAdmin]="isAdmin"
                             [likedByAuthUser]="post.liked"
                             [post]="post"></app-post-card>
            </ng-container>
          </div>
          <ng-container *ngIf="!isLoading && posts.length === 0">
            <mat-card>
              <div class="no-data-container">
                <mat-icon class="no-data-icon" svgIcon="no-data"></mat-icon>
                <div class="no-data-text">No posts found!</div>
              </div>
            </mat-card>
          </ng-container>
          <mat-card *ngIf="isLoading">
            <app-post-skeleton class="skeleton"></app-post-skeleton>
          </mat-card>
        </div>
      </main>
      <footer class="footer">
        <div class="copyright">&copy; 2023 Global Directory</div>
      </footer>
    </div>
  </div>
</div>





