<div class="container">
  <div class="blur-container">
    <div class="page-content">
      <div class="empty-container"></div>
      <main class="main-container" role="main">
        <div class="login-container">
          <mat-card role="form">
            <mat-card-header>
              <mat-card-title><h1>Sign In</h1></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <form [formGroup]="loginForm" (ngSubmit)="onSignIn()" class="form-container" aria-label="Login Form">
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input type="email" aria-label="Email" aria-required="true" matInput [formControl]="emailFormControl"
                         [errorStateMatcher]="matcher">
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Password</mat-label>
                  <input [type]="hidePassword ? 'password' : 'text'" aria-label="Password" aria-required="true" matInput
                         [formControl]="passwordFormControl"
                         [errorStateMatcher]="matcher">
                  <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Password is required
                  </mat-error>
                </mat-form-field>
                <p class="forgot-password-link"><a routerLink="/forgot-password">Forgot password?</a></p>
                <button mat-flat-button color="primary" type="submit" aria-label="Sign in" class="submit-button">Sign
                  In
                </button>
                <p class="register-link">Don't have an account? <a routerLink="/register">Sign Up</a></p>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </main>
      <footer class="footer">
        <div class="copyright">
          &copy; 2023 Global Directory
        </div>
      </footer>
    </div>
  </div>
</div>

