<header>
  <mat-toolbar color="primary" class="navigation-container" role="heading">
    <img width="40" height="40" src="../../assets/dblogo.png" alt="Global Directory Logo"/>
    <span>Global Directory</span>
  </mat-toolbar>
</header>
<div class="container">
  <div class="blur-container">
    <div class="page-content">
      <div class="empty-container"></div>
      <main class="main-container" role="main">
        <div class="login-container">
          <mat-card role="form">
            <mat-card-header>
              <mat-card-title><h1>Login</h1></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container" aria-label="Login Form">
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input type="email" aria-required="true" matInput [formControl]="emailFormControl"
                         [errorStateMatcher]="matcher">
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Password</mat-label>
                  <input type="password" aria-required="true" matInput [formControl]="passwordFormControl"
                         [errorStateMatcher]="matcher">
                  <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Password is required
                  </mat-error>
                </mat-form-field>
                <button mat-flat-button color="primary" type="submit" aria-label="Log in">Login</button>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </main>
      <footer class="footer">
        <div class="copyright">
          &copy; 2023 Global Directory
        </div>
      </footer>
    </div>
  </div>
</div>

