.comment-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.avatar-container {
  display: flex;
  border-radius: 50%;
}

.avatar-container img {
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
}

.comment-content {
  background: rgba(0, 0, 0, 0.07);
  border-radius: 18px;
  padding: 10px;
}

.comment-content-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.full-name {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.time-passed {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  word-break: break-all;
}
