html,
body {
  background: rgba(63, 81, 181, 1);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-form-field input {
  font-size: 16px;
}

.avatar-menu.mat-menu-panel {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(12px);
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  z-index: 1;
}

.avatar-menu.mat-menu-panel .mat-menu-content {
  padding: 0;
}

.main-menu.mat-menu-panel {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.main-menu.mat-menu-panel .mat-menu-content {
  padding: 0;
}

.mat-sort-header-content {
  text-align: left !important;
}

.mat-tab-group {
  height: 100%;
}

.mat-tab {
  height: 100%;
}

.mat-tab-label {
  font-size: 16px;
}

.mat-tab-header {
  margin-right: 8px;
  border-bottom: none;
}

.mat-tab-body-wrapper {
  height: 100%;
}

.mat-tab-body-content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
  border-radius: 10px;
}

.mat-tab-body-content::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.mat-tab-body-content::-webkit-scrollbar-corner {
  background-color: transparent;
}

.mat-tab-body-content::-webkit-scrollbar-thumb {
  background: rgba(63, 81, 181, 0.75);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.mat-tab-body-content::-webkit-scrollbar-thumb:hover {
  background: rgba(63, 81, 181, 1);
}

.mat-dialog-container:has(.fullscreeen-image-dialog) {
  padding: 0 !important;
  border-radius: 0 !important;
  background: rgba(0, 0, 0, 1) !important;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f !important;
}

.mat-dialog-container:has(.view-post-dialog) {
  padding: 0 8px 0 0 !important;
  overflow: hidden !important;
  min-width: 256px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  border-radius: 10px !important;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.mat-dialog-container:has(.view-likes-dialog) {
  padding: 0 8px 0 0 !important;
  overflow: hidden !important;
  min-width: 256px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  border-radius: 10px !important;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

@media only screen and (max-width: 768px) {
  .mat-dialog-container:has(.view-post-dialog) {
    padding: 0 8px 0 0 !important;
    overflow: hidden !important;
    min-width: 256px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    border-radius: 0 !important;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  }
}

@media only screen and (max-width: 320px) {
  .mat-dialog-container:has(.view-likes-dialog) {
    padding: 0 8px 0 0 !important;
    overflow: hidden !important;
    min-width: 256px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    border-radius: 0 !important;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  }
}

.mat-dialog-content:has(.likes-container) {
  max-height: 50vh !important;
  margin: 0 !important;
  padding: 0 !important;
}

.mat-dialog-content {
  max-height: 90vh !important;
  margin: 0 !important;
  padding: 0 !important;
}

@media only screen and (max-width: 768px) {
  .mat-dialog-content {
    height: 100vh !important;
    max-height: 100vh !important;
  }
}

.mat-dialog-content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
  border-radius: 10px;
}

.mat-dialog-content::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.mat-dialog-content::-webkit-scrollbar-corner {
  background-color: transparent;
}

.mat-dialog-content::-webkit-scrollbar-thumb {
  background: rgba(63, 81, 181, 0.75);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.mat-dialog-content::-webkit-scrollbar-thumb:hover {
  background: rgba(63, 81, 181, 1);
}

.success-snackbar {
  background-color: rgba(63, 81, 181, 1);
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  color: #fff;
}

.success-snackbar button {
  background-color: transparent;
  color: #fff;
}

.error-snackbar {
  background-color: rgba(244, 67, 54, 1);
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  color: #fff;
}

.error-snackbar button {
  background-color: transparent;
  color: #fff;
}
