<div class="container">
  <div class="blur-container">
    <div class="page-content">
      <div class="empty-container"></div>
      <main class="main-container" role="main">
        <div class="admin-panel-container">
          <mat-card role="table">
            <mat-card-header>
              <mat-card-title><h1>Admin Panel</h1></mat-card-title>
              <mat-form-field class="filter">
                <input (keyup)="applyFilter($event)" matInput placeholder="Filter">
              </mat-form-field>
            </mat-card-header>
            <mat-card-content>
              <div class="card-content">
                <div class="table-container">
                  <table (matSortChange)="announceSortChange($event)" [dataSource]="dataSource" class="users-table"
                         mat-table matSort multiTemplateDataRows>
                    <ng-container matColumnDef="profilePhotoUrl">
                      <th *matHeaderCellDef mat-header-cell>Profile Photo</th>
                      <td *matCellDef="let user" mat-cell>
                        <div class="avatar-container">
                          <img [src]="user.profilePhotoUrl" alt="Profile Photo" height="24" width="24">
                        </div>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="firstName">
                      <th *matHeaderCellDef mat-header-cell mat-sort-header>First Name</th>
                      <td *matCellDef="let user" mat-cell>{{ user.firstName }}</td>
                    </ng-container>
                    <ng-container matColumnDef="lastName">
                      <th *matHeaderCellDef mat-header-cell mat-sort-header>Last Name</th>
                      <td *matCellDef="let user" mat-cell>{{ user.lastName }}</td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                      <th *matHeaderCellDef class="email-column" mat-header-cell mat-sort-header>Email</th>
                      <td *matCellDef="let user" class="email-column" mat-cell>{{ user.email }}</td>
                    </ng-container>
                    <ng-container matColumnDef="expand">
                      <th *matHeaderCellDef aria-label="row actions" mat-header-cell>&nbsp;</th>
                      <td *matCellDef="let element" class="expand-button-container" mat-cell>
                        <button
                          (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()"
                          aria-label="expand row"
                          mat-icon-button>
                          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                        </button>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="expandedDetail">
                      <td *matCellDef="let user" [attr.colspan]="columnsToDisplayWithExpand.length" mat-cell>
                        <div [@detailExpand]="user == expandedElement ? 'expanded' : 'collapsed'"
                             class="expanded-details">
                          <div class="expanded-details-responsive">
                            <div class="expanded-details-content-desktop">
                              <div class="categories-desktop">
                                <div class="category-desktop email-category">
                                  <div class="category-title">Email:</div>
                                  <div class="category-value">{{user.email}}</div>
                                </div>
                                <div class="category-desktop">
                                  <div class="category-title">Department:</div>
                                  <div class="category-value">{{user.department}}</div>
                                </div>
                                <div class="category-desktop">
                                  <div class="category-title">Team:</div>
                                  <div class="category-value">{{user.team}}</div>
                                </div>
                                <div class="category-desktop">
                                  <div class="category-title">Job Title:</div>
                                  <div class="category-value">{{user.jobTitle}}</div>
                                </div>
                                <div class="category-desktop">
                                  <div class="category-title"> Date of Employment:</div>
                                  <div class="category-value">{{user.dateOfEmployment}}</div>
                                </div>
                              </div>
                            </div>
                            <div class="expanded-details-content-mobile">
                              <div class="description-categories-content-mobile">
                                <div class="categories-wrapper-mobile">
                                  <div class="category-names-mobile">
                                    <div>Email:</div>
                                    <div>Department:</div>
                                    <div>Team:</div>
                                    <div>Job Title:</div>
                                    <div>Date of Employment:</div>
                                  </div>
                                  <div class="category-values-mobile">
                                    <div class="category-value">{{user.email}}</div>
                                    <div class="category-value">{{user.department}}</div>
                                    <div class="category-value">{{user.team}}</div>
                                    <div class="category-value">{{user.jobTitle}}</div>
                                    <div class="category-value">{{user.dateOfEmployment}}</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="description-actions-content">
                            <div class="description-actions-wrapper">
                              <button (click)="approveUser(user); $event.stopPropagation()" color="primary"
                                      mat-button>
                                <mat-icon>check</mat-icon>
                                Approve
                              </button>
                              <button (click)="rejectUser(user); $event.stopPropagation()" color="warn" mat-button>
                                <mat-icon>clear</mat-icon>
                                Reject
                              </button>
                            </div>
                          </div>
                        </div>
                      </td>
                    </ng-container>
                    <tr *matHeaderRowDef="columnsToDisplayWithExpand" mat-header-row></tr>
                    <tr (click)="expandedElement = expandedElement === element ? null : element"
                        *matRowDef="let element; columns: columnsToDisplayWithExpand;"
                        [class.expanded-row]="expandedElement === element"
                        class="element-row"
                        mat-row>
                    </tr>
                    <tr *matRowDef="let row; columns: ['expandedDetail']" class="detail-row" mat-row></tr>
                  </table>
                </div>
              </div>
            </mat-card-content>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
          </mat-card>
        </div>
      </main>
      <footer class="footer">
        <div class="copyright">&copy; 2023 Global Directory</div>
      </footer>
    </div>
  </div>
</div>
