<div class="container">
  <div class="blur-container">
    <div class="page-content">
      <div class="empty-container"></div>
      <main class="main-container" role="main">
        <div class="register-container">
          <mat-card role="form">
            <mat-card-header>
              <mat-card-title><h1>Sign Up</h1></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <form
                (ngSubmit)="onSignUp()"
                [formGroup]="registerForm"
                aria-label="Register Form"
                class="form-container">
                <div class="photo-container">
                  <div (click)="fileInput.click()" class="image-container">
                    <img
                      [draggable]="false"
                      [src]="profilePhoto"
                      alt="Profile Photo"
                      class="img"/>
                    <div class="overlay">Upload</div>
                  </div>
                  <input
                    #fileInput
                    (change)="onFileUpload($event)"
                    accept="image/*"
                    aria-label="Profile photo"
                    hidden
                    type="file"/>
                </div>
                <div class="row-container">
                  <mat-form-field appearance="fill">
                    <mat-label>First name</mat-label>
                    <input
                      [errorStateMatcher]="matcher"
                      [formControl]="firstNameFormControl"
                      aria-label="First name"
                      aria-required="true"
                      autocomplete="given-name"
                      matInput
                      type="text"/>
                    <mat-error
                      *ngIf="firstNameFormControl.hasError('required')">
                      First name is required
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Last name</mat-label>
                    <input
                      [errorStateMatcher]="matcher"
                      [formControl]="lastNameFormControl"
                      aria-label="Last name"
                      aria-required="true"
                      autocomplete="family-name"
                      matInput
                      type="text"/>
                    <mat-error *ngIf="lastNameFormControl.hasError('required')">
                      Last name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="row-container">
                  <mat-form-field appearance="fill">
                    <mat-label>Department</mat-label>
                    <input
                      [errorStateMatcher]="matcher"
                      [formControl]="departmentFormControl"
                      [matAutocomplete]="auto"
                      aria-label="Department"
                      aria-required="true"
                      matInput
                      type="text"/>
                    <mat-error
                      *ngIf="departmentFormControl.hasError('required')">
                      Department is required
                    </mat-error>
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option
                        *ngFor="let department of filteredDepartments | async"
                        [value]="department">
                        {{ department }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Team</mat-label>
                    <input
                      [errorStateMatcher]="matcher"
                      [formControl]="teamFormControl"
                      [matAutocomplete]="teamAuto"
                      aria-label="Team"
                      aria-required="true"
                      matInput
                      type="text"/>
                    <mat-error *ngIf="teamFormControl.hasError('required')">
                      Team is required
                    </mat-error>
                    <mat-autocomplete #teamAuto="matAutocomplete">
                      <ng-container
                        *ngIf="teamsByDepartment.length > 0; else noTeams">
                        <mat-option
                          *ngFor="let team of filteredTeams | async"
                          [value]="team">
                          {{ team }}
                        </mat-option>
                      </ng-container>
                      <ng-template #noTeams>
                        <mat-option disabled>No department selected</mat-option>
                      </ng-template>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="row-container">
                  <mat-form-field appearance="fill">
                    <mat-label>Job title</mat-label>
                    <input
                      [errorStateMatcher]="matcher"
                      [formControl]="jobTitleFormControl"
                      [matAutocomplete]="jobTitleAuto"
                      aria-label="Job title"
                      aria-required="true"
                      matInput
                      type="text"/>
                    <mat-error *ngIf="jobTitleFormControl.hasError('required')">
                      Job title is required
                    </mat-error>
                    <mat-autocomplete #jobTitleAuto="matAutocomplete">
                      <ng-container
                        *ngIf="jobTitlesByTeam.length > 0; else noJobTitles">
                        <mat-option
                          *ngFor="let jobTitle of filteredJobTitles | async"
                          [value]="jobTitle">
                          {{ jobTitle }}
                        </mat-option>
                      </ng-container>
                      <ng-template #noJobTitles>
                        <mat-option disabled>No team selected</mat-option>
                      </ng-template>
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Employment date</mat-label>
                    <input
                      [errorStateMatcher]="matcher"
                      [formControl]="employmentDateFormControl"
                      [matDatepicker]="employmentDatePicker"
                      [max]="maxEmploymentDate"
                      aria-label="Employment date"
                      aria-required="true"
                      matInput/>
                    <mat-error
                      *ngIf="employmentDateFormControl.hasError('required')">
                      Employment date is required
                    </mat-error>
                    <mat-error *ngIf="employmentDateFormControl.hasError('dateTooHigh') &&
                        !employmentDateFormControl.hasError('required')">
                      Employment date cannot be in the future
                    </mat-error>
                    <mat-datepicker-toggle
                      [for]="employmentDatePicker"
                      matSuffix></mat-datepicker-toggle>
                    <mat-datepicker
                      #employmentDatePicker
                      disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="row-container">
                  <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input
                      [errorStateMatcher]="matcher"
                      [formControl]="emailFormControl"
                      aria-label="Email"
                      aria-required="true"
                      autocomplete="email"
                      matInput
                      type="email"/>
                    <mat-error
                      *ngIf="
                        emailFormControl.hasError('email') &&
                        !emailFormControl.hasError('required')
                      ">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Email is required
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input
                      [errorStateMatcher]="matcher"
                      [formControl]="passwordFormControl"
                      [type]="hidePassword ? 'password' : 'text'"
                      aria-label="Password"
                      aria-required="true"
                      matInput/>
                    <button
                      (click)="hidePassword = !hidePassword"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hidePassword"
                      class="input-button-suffix"
                      mat-icon-button
                      matSuffix>
                      <mat-icon>{{
                        hidePassword ? 'visibility_off' : 'visibility'
                        }}</mat-icon>
                    </button>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                      Password is required
                    </mat-error>
                    <mat-error
                      *ngIf="
                        passwordFormControl.hasError('passwordInvalid') &&
                        !passwordFormControl.hasError('required')
                      ">
                      <span
                        class="password-requirements-error"
                        matTooltip="Password must be at least 8 characters, and include an uppercase letter, a lowercase letter, a number, and a special character."
                        matTooltipPosition="right">
                        See password requirements
                        <mat-icon
                          aria-label="More information"
                          class="error-info-icon"
                          tabindex="0"
                        >info</mat-icon
                        >
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <button
                  aria-label="Sign up"
                  class="submit-button"
                  color="primary"
                  mat-flat-button
                  type="submit">
                  Sign Up
                </button>
                <p class="login-link">
                  Already have an account? <a routerLink="/login">Sign In</a>
                </p>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </main>
      <footer class="footer">
        <div class="copyright">&copy; 2023 Global Directory</div>
      </footer>
    </div>
  </div>
</div>
